@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  background: #7691b9;
  background-image: url(../images/wave.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #4c7aaf;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.button:hover {
  background-color: #7691b9;
}

footer {
  position: absolute;
  bottom: 0;
  color: #333;
  text-align: center;
  padding: 10px;
}
